body {
  background: #f2f2f7;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px #0002;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-box input {
  padding: 10px;
}

.login-box button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-container {
  padding: 20px;
}

.task-input-box {
  display: flex;
  gap: 10px;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px #0001;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}